body {
    font-family: 'Roboto';
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header {
    color: #fff;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

section {
    padding: 40px;
    margin: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #35424a;
    font-size: 1.8em;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

h2 i {
    margin-right: 10px;
}

section p {
    font-size: 1.1em;
    line-height: 1.8;
}
